@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.7em;
	color: #333333;
}
.egn_center_col {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#egn_header_row {
	height: 75px;
	background-image: url(../grafik/egn_header_row_bg.gif);
	background-repeat: repeat-x;
	background-position: top;
	color: #FFFFFF;
}
#egn_logo_holder {
	float: left;
	width: 160px;
}

/* General rules */

a {
	color: #80B000;
	text-decoration: none;
}
a:focus, a:hover, a:active {
	text-decoration: underline;
	color: #000000;
}
span.important {
	color: #CC0000;
}

/* Main menu */

#egn_menu_holder {
	float: left;
	width: 800px;
}
ul#egn_main_menu {
	list-style-image: none;
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
}
ul#egn_main_menu li.egn_main_menu_items {
	float: left;
	padding: 8px;
	height: 40px;
}
ul#egn_main_menu li.egn_main_menu_items a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}
ul#egn_main_menu li.egn_main_menu_items a.egn_active_menu_item {
	color: #A4D70C;
}
ul#egn_main_menu li.egn_main_menu_items a:focus, ul#egn_main_menu li.egn_main_menu_items a:hover, ul#egn_main_menu li.egn_main_menu_items a:active {
	color: #D8F878;
}
ul#egn_main_menu li.egn_main_menu_items a.egn_sub:focus, ul#egn_main_menu li.egn_main_menu_items a.egn_sub:hover, ul#egn_main_menu li.egn_main_menu_items a.egn_sub:active {
	background-image: url(../grafik/egn_menu_arrow_down.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	color: #A4D70C;
}
ul#egn_main_menu li.egn_main_menu_items a.egn_nosub {
	background-image: none;
}

/* Submenu */

#egn_submenu_holder {
	width: 230px;
	float: right;
	padding-left: 10px;
}
#egn_submenu_holder ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#egn_submenu_holder ul li {
	padding-top: 5px;
	padding-bottom: 5px;
}

#egn_submenu_holder ul li a {
	text-decoration: none;
	color: #80B000;
	font-size: 14px;
	background-image: url(../grafik/egn_submenu_arrow_right_gre.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 26px;
}
#egn_submenu_holder ul li a:focus, #egn_submenu_holder ul li a:hover, #egn_submenu_holder ul li a:active {
	color:#405800 !important;
	background-image: url(../grafik/egn_submenu_arrow_right_blk.gif);
}
#egn_submenu_holder ul li a.egn_active_submenu_item, #egn_submenu_holder ul li a.egn_active_subsubmenu_item, #egn_submenu_holder ul li a.egn_active_subsubsubmenu_item {
	color:#000000;
	background-image: url(../grafik/egn_submenu_arrow_right_blk.gif);
}
#egn_submenu_holder ul li a.egn_sub_act {
	background-image: url(../grafik/egn_submenu_arrow_down_blk.gif);
}

#egn_submenu_holder ul#egn_submenu {
	margin-bottom: 20px;
}
li.egn_submenu_items {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#egn_submenu_holder ul#egn_subsubmenu {
	margin-left: 20px;
	padding-top: 5px;
	padding-bottom: -5px;
}
li.egn_subsubmenu_items {
}
#egn_submenu_holder ul#egn_subsubsubmenu {
	margin-left: 20px;
	padding-top: 5px;
	padding-bottom: -5px;
}

/* Main content */

#egn_main_content {
	width: 720px;
	float: left;
}
#egn_content_col {
	padding: 10px;
}
#egn_footer_row {
	background-image: url(../grafik/egn_footer_row_bg.gif);
	background-repeat: repeat-x;
	background-position: top;
}
#egn_footer_col {
	padding: 10px;
}
.clear {
	clear: both;
}
.sub_menu {
	color: #80B000;
}

/* fce */

.egn_2col_table {}
.egn_2col_cells {
	width: 48%;
}
.egn_2col_innermargin {
	width: 4%;
}

/* formularer */

.alert {
	color:#B00700;
}
.egn_hiddenlabel {
	visibility:hidden;
}
.tx-pilmailform-pi1 #acceptterms {
	margin-left: 0;
}
.tx-pilmailform-pi1 .tx-srfreecap-pi2-cant-read {
	color: #000;
	font-size: 1em;
	display: block;
}
.tx-pilmailform-pi1 .tx-srfreecap-pi2-cant-read a:link {
	font-weight: normal;
	text-decoration: underline;
}
.egn_inputlabel.egn_mandatory, .egn_labels.alert, .tx_pilmailform_pi1-captcha #tx_pilmailform_pi1_captcha_response {
	padding-right: 10px;
	background-image: url(../grafik/egn_mandatory.png);
	background-repeat: no-repeat;
	background-position: right;
	
}
.egn_mandatory_info {
	margin-top: 1em;
	margin-bottom: 1em;
}
.egn_mandatory_info span.egn_mandatory, .egn_mandatory_info span.detail {
	background-image: url(../grafik/egn_mandatory.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 2em;
	padding-right: 5px;
}

/* Flyt/over */

.egn_flytover_formular_tabel td {
	vertical-align: top;
}
.egn_flytover_formular_tabel .egn_form_subheader {
	font-weight: bold;
}
.egn_flytover_formular_tabel td.firstcol {
	border-left: solid 1px #999;
}
.egn_flytover_formular_tabel td.lastcol {
	border-right: solid 1px #999;
}
.egn_flytover_formular_tabel td.toprow {
	border-top: solid 1px #999;
}
.egn_flytover_formular_tabel td.bottomrow {
	border-bottom: solid 1px #999;
}

/* Kontakt */

.egn_kontakt_tabel .egn_kontakt {
	width: 25em;
}

/* Kontaktpersoner */

#c101 .contenttable {
	width: 100%;
}
#c101 .contenttable p {
	margin: 0;
}
#c101 .contenttable th {
	text-align: left;
}
#c101 .contenttable .tr-even {
	background-color: #EEE;
}
#c101 .contenttable .tr-odd {
	background-color: #DDD;
}

/* Ny email */

.egn_mailbestilling_tabel td {
	vertical-align: top;
}
.egn_mailbestilling_tabel #kodeordet,
.egn_styrke_holder,
.egn_mailbestilling_tabel #scorebarBorder {
	float: left;
}
.egn_mailbestilling_tabel #scorebarBorder {
	margin-left: 5px;
	margin-top: 2px;
	margin-right: 5px;
}
.egn_password_holder {
	white-space: nowrap;
}


/* pwcheck */

#linkstop {
	background: #234;
	color: #fff;
	margin-top: -10px;
	padding: 2px;
}
#linkstop a {
	color: #fff;
}
#score {
	color: #000;
	font-size: 85%;
	position:absolute;
	text-align: center;
	width: 100px;
	z-index: 10;
	height: 16px;
	line-height: 1.3em;
}
#score,#rating,#standards {
	font-weight: bold;
}
div.exceed {
	background-image: url(../grafik/img_status_exceed.png);
}
div.fail {
	background-image: url(../grafik/img_status_fail.png);
}
div.pass {
	background-image: url(../grafik/img_status_pass.png);
}
div.warn {
	background-image: url(../grafik/img_status_warn.png);
}
#scorebar {
	background-image: url(../grafik/bg_strength_gradient.jpg);
	background-repeat:repeat-y;
	background-position: 0 0;
	position:absolute;
	width: 100px;
	z-index: 0;
	height: 16px;
}
#scorebarBorder {
	background: #333;
	border: 1px #000 solid;
	height: 16px;
	margin-bottom: 2px;
	width: 100px;
	overflow: hidden;
}
#password {
	border: 1px #000 solid;
	font-size: 85%;
	width: 100px;
}
#tablePwdScoring {
	margin-bottom: 0 !important;
}
#listLegend li {
	list-style: none;
	padding-bottom: 4px;
	margin-left: 0;
	padding-left: 0;
}
#listLegend {
	margin-left: 0;
	padding-left: 0;
}
div.fail,div.pass,div.exceed,div.warn {
	background-repeat: no-repeat;
	background-position: left top;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 16px;
}
td.exceed,td.fail,td.pass,td.warn {
	color: #fff;
	font-weight: bold;
	text-align: center;
}
td.exceed {
	background: #1C60A4;
}
td.fail {
	background: #C00;
}
td.pass {
	background: #093;
}
td.warn {
	background: #f60;
}
div.box {
	background: #456;
	border: 1px #000 solid;
	color: #fff;
	height: 16px;
	padding: 2px;
	white-space: nowrap;
	width: 38px;
}
div.boxMinus,div.boxPlus {
	border: none;
	color: #fff;
	font-weight: bold;
	padding: 2px;
	text-align: left;
	white-space: nowrap;
}
td.footnote {
	background: #ddd;
	font-size: 70%;
}
.bold {
	font-weight: bold;
}
.clearNone {
	clear: none;
}
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.hide {
	display: none;
}
.imgLegend {
	clear: left !important;
	float: left !important;
	position: relative !important;
	margin-bottom: -3px !important;
	margin-right: 5px !important;
}
.inline {
	display: inline;
}
.italic {
	font-style: italic;
}
.noPad {
	padding: 0;
}
.show {
	display: inline !important;
}
.txtLg {
	font-size: 125%;
}
.txtSmall {
	font-size: 75%;
}
.txtCenter {
	text-align: center;
}
.txtRight {
	text-align: right;
}
div.xtend {
	clear: both !important; 
	line-height: 0; 
	height: 0;
}

/* disable */

#tablePwdNotes {
	display: none;
}
#tablePwdStatus {
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: normal;
	border: dashed 1px #999;
}
#egn_scorecalc_holder #tablePwdStatus {
	display: none;	
}
/* PWD-DIV */

div.tr {
	clear:both;
	border-top: solid 1px #CCC;
}
div.tr div {
	float:left;
}
.th {
	font-weight:bold;
	text-align:center;
}
div.box {
	background-color:transparent;
	color:#000;
	border:none;
	text-align:right;
	padding:0;
}

.c1 {
	width: 4%;
	padding-bottom:2px;
	padding-top:2px;
}
.c2 {
	width:46%;
	padding-bottom:2px;
	padding-top:2px;
}
.c3 {
	width: 14%;
	background-color:#DDD;
	padding-bottom:2px;
	padding-top:2px;
}
.c4 {
	width: 18%;
	background-color:#EEE;
	padding-bottom:2px;
	padding-top:2px;
}
.c5 {
	width: 9%;
	background-color:#DDD;
	padding-bottom:2px;
	padding-top:2px;
}
.c6 {
	width: 9%;
	padding-bottom:2px;
	padding-top:2px;
}
.c12, .c36 {
	width:50%;
	padding-bottom:2px;
	padding-top:2px;
}
.c16 {
	width:100%;
	padding-bottom:2px;
	padding-top:2px;
}
div.boxMinus, div.boxPlus {
	padding-left: 5px;
	padding-right: 5px;
	width: 45px;
	background-color:transparent;
	text-align:right;
}
div.exceed div {
	background: #1C60A4;
}
div.fail div {
	background: #C00;
}
div.pass div {
	background: #093;
}
div.warn div {
	background: #f60;
}

