<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Egnsnettet skabelon common</title>
<link href="css/egn_common.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="egn_header_row">
   	  <div id="egn_header_col" class="egn_center_col">
       	  <div id="egn_logo_holder"><img src="grafik/egnsnettet_logo.png" alt="egnsnettet_logo.png" width="154" height="68" /></div>
          <div id="egn_menu_holder">
          	<ul id="egn_main_menu">
            	<li class="egn_main_menu_items"><a href="#" class="egn_active_menu_item egn_sub">Menu1</a></li>
            	<li class="egn_main_menu_items"><a href="#" class="egn_nosub">Menu2</a></li>
            	<li class="egn_main_menu_items"><a href="egn_subpages.html" class="egn_sub">Menu3</a></li>
           	  <li class="egn_main_menu_items"><a href="#" class="egn_sub">Menu4</a></li>
            </ul>
          </div>
      </div>
    </div>
    <div id="egn_content_row">
    	<div id="egn_content_col" class="egn_center_col">
        	<div id="egn_main_content">Content</div>
        </div>
   		<div class="clear"></div>		
    </div>
    <div id="egn_footer_row">
    	<div id="egn_footer_col" class="egn_center_col">Footer</div>
    </div>
</body>
</html>
