<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bestil-billig-internet</title>
</head>

<body>
<p>Skabelon egnsnettet Beta - Bestil billigt internet</p>
<form id="form1" name="form1" method="post" action="">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><label for="company" class="egn_inputlabel">Evt. firmanavn:</label></td>
      <td width="5">&nbsp;</td>
      <td>
      <input type="text" name="company" id="company" class="egn_textinput" /></td>
    </tr>
    <tr>
      <td><label for="surname" class="egn_inputlabel">Fornavn:</label></td>
      <td width="5">&nbsp;</td>
      <td><input type="text" name="surname" id="surname" class="egn_textinput" /></td>
    </tr>
    <tr>
      <td><label for="familyname" class="egn_inputlabel">Efternavn:</label></td>
      <td width="5">&nbsp;</td>
      <td><input type="text" name="familyname" id="familyname" class="egn_textinput" /></td>
    </tr>
    <tr>
      <td><label for="address" class="egn_inputlabel">Adressse:</label></td>
      <td width="5">&nbsp;</td>
      <td><input type="text" name="address" id="address" class="egn_textinput" /></td>
    </tr>
    <tr>
      <td><label for="zipandtown" class="egn_inputlabel">Postnummer og by:</label></td>
      <td width="5">&nbsp;</td>
      <td><input type="text" name="zipandtown" id="zipandtown" class="egn_textinput" /></td>
    </tr>
    <tr>
      <td><label for="phone" class="egn_inputlabel">Telefon:</label></td>
      <td width="5">&nbsp;</td>
      <td><input type="text" name="phone" id="phone" class="egn_textinput" /></td>
    </tr>
    <tr>
      <td><label for="mobile" class="egn_inputlabel">Mobiltelefon:</label></td>
      <td width="5">&nbsp;</td>
      <td><input type="text" name="mobile" id="mobile" class="egn_textinput" /></td>
    </tr>
    <tr>
      <td><label for="oldmail" class="egn_inputlabel"><acronym title="Som der kan svares på inden den ny er oprettet">Nuværende e-mail adresse</acronym></label></td>
      <td width="5">&nbsp;</td>
      <td><input type="text" name="oldmail" id="oldmail" class="egn_textinput" /> 
        </td>
    </tr>
    <tr>
      <td><label for="newmail" class="egn_inputlabel">Ønsket e-mail adresse:</label></td>
      <td>&nbsp;</td>
      <td><input type="text" name="oldmail" id="oldmail" class="egn_textinput" />
      @
        <select name="newmaildomain" id="newmaildomain">
          <option>roendesnet.dk</option>
          <option>egnsnettet.dk</option>
          <option>egnsnet.dk</option>
          <option>djursnet.dk</option>
      </select></td>
    </tr>
    <tr>
      <td><label for="acceptterms" class="egn_inputlabel">Accept af abonnemetnsvilkår:</label></td>
      <td>&nbsp;</td>
      <td><input type="checkbox" name="acceptterms" id="acceptterms" /></td>
    </tr>
    <tr>
      <td colspan="3"><p>Jeg bekræfter hermed at jeg har læst foreningens abonnementsvilkår og at jeg accepterer disse</p>
        <ul>
          <li>Jeg indbetaler fuldt indskud kr. 500,- og kr. 300,- som kvartalsvis forudbetaling af trafikafgift.</li>
          <li> Etableringen vil først kunne forventes ca. 2 uger efter indbetalingen.      </li>
          <li>Den månedlige trafikafgift på kr. 100,- forudbetales kvartalsvis med kr. 300,-</li>
        </ul>      </td>
    </tr>
    <tr>
      <td colspan="3"><p>Indtast venligst det ord der er vist på billedet. Dette er for at beskytte imod misbrug. Hvis du ikke kan læse ordet, tryk <a href="#">her</a>. </p>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><input type="text" name="captcha" id="captcha" class="egn_textinput" /></td>
    </tr>
    <tr>
      <td><label for="submit_bestil" class="egn_hiddenlabel">Bestil</label></td>
      <td>&nbsp;</td>
      <td>
      <input type="submit" name="submit_bestil" id="submit_bestil" value="Bestil" /></td>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
</body>
</html>
