<!-- ###TMAIL_FORM### begin -->
<html>
  <head>
    <meta content="text/html;charset=ISO-8859-1" http-equiv="Content-Type">
  </head>
  <body>
    <form action="###FORM_URL###" method="post" enctype="multipart/form-data"> <input
        name="MAX_FILE_SIZE"
        value="300000000"
        type="hidden">
      <table width="100%" border="0" cellspacing="2" cellpadding="0" class="egn_kontakt_tabel">
      	<tr>
        	<td colspan="3">        
      		<!-- ###HEADER_STD### begin -->
			<span class="egn_labels">###_LL_LABEL_HEADER_STD###</span>
          	<!-- ###HEADER_STD### end -->
          	<!-- ###HEADER_ERR### begin -->
            <span class="egn_labels alert">###_LL_LABEL_HEADER_ERR###</span>
            <!-- ###HEADER_ERR### end -->
            </td>
        </tr>
    <tr>
      <td colspan="3"><label for="name" class="egn_inputlabel egn_mandatory">Indtast dit navn:</label></td>
    </tr>
    <tr>
      <td colspan="2">
      	<input type="text" name="tx_pilmailform_pi1[text][name]" value="###NAME_VAL###" id="name" class="egn_textinput egn_mandatory egn_kontakt" />
      </td>
      <td>
        <span class="alert">###NAME_ERR_TXT###</span>
      </td>
    </tr>
    <tr>
      <td colspan="3"><label for="email" class="egn_inputlabel egn_mandatory"><acronym title="Som der kan svares til">Din e-mail adresse:</acronym></label></td>
   </tr>
   <tr>
      <td colspan="2">
      	<input type="text" name="tx_pilmailform_pi1[text][email]" value="###EMAIL_VAL###" id="email" class="egn_textinput egn_mandatory egn_kontakt" />
      </td>
      <td>	
        <span class="alert"><!-- ###HEADER_EMAIL_INVALID### begin -->Dette er ikke en gyldig mail-adresse!<!-- ###HEADER_EMAIL_INVALID### end --> ###EMAIL_ERR_TXT###</span>
      </td>
    </tr>
    <tr>
      <td colspan="3"><label for="subject" class="egn_inputlabel">Besked-emne:</label></td>
    </tr>
    <tr>
      <td colspan="2">
      	<input type="text" name="tx_pilmailform_pi1[text][subject]" value="###SUBJECT_VAL###" id="subject" class="egn_textinput egn_kontakt" />
      </td>
      <td>
        <span class="alert">###SUBJECT_ERR_TXT###</span>
      </td>
    </tr>
    <tr class="egn_spacerrow"><td colspan="3" class="egn_spacercell" height="5"> </td></tr>
    <tr class="">
      <td colspan="3"><label for="besked" class="egn_inputlabel">Indtast din besked:</label></td>
    </tr>
    <tr>
      <td colspan="3">
      	<textarea name="tx_pilmailform_pi1[textarea][besked]" cols="50" rows="7">###BESKED_VAL###</textarea><span class="alert">###BESKED_ERR_TXT###</span>
      </td>
    </tr>

    <tr>
      <td colspan="3">
         <div class="static_info">###_STATICINFO###</div>
      </td>
    </tr>
    <tr>
      <td colspan="3">     
		<!--###CAPTCHA_INSERT### this subpart is removed if CAPTCHA is not enabled! -->
        <div class="tx_pilmailform_pi1-captcha">
            <label for="tx_pilmailform_pi1_captcha_response">###SR_FREECAP_NOTICE###</label>
            ###SR_FREECAP_CANT_READ###
            <br />
            ###SR_FREECAP_IMAGE###
            <input type="text" size="15" id="tx_pilmailform_pi1_captcha_response" name="tx_pilmailform_pi1[captcha_response]" title="###SR_FREECAP_NOTICE###" value=""  class="egn_textinput" />
            ###SR_FREECAP_ACCESSIBLE###
        </div>      
      	<!--###CAPTCHA_INSERT###-->
      </td>
    </tr>
    <tr>
      <td><label for="submit_kontakt" class="egn_hiddenlabel">Send</label></td>
      <td>&nbsp;</td>
      <td>
      <input type="submit" name="tx_pilmailform_pi1[submit]" id="submit_kontakt" value="Send" /></td>
    </tr>
  </table>
    </form>
    <!-- ###TMAIL_FORM### end -->

<hr />
<p><em>Mail txt</em></p>

    <!-- ###TMAIL_MAIL### begin -->
    Henvendelse via egnsnettets kontaktformular.
        
    ###NAME_VAL### (###EMAIL_VAL###) her sendt: 
    
    ###SUBJECT_VAL###
    
    ###BESKED_VAL###
    
    ----------------
    
    Fremsendt med TMailform extension ###_TIME###, ###_DATE### fra ###_SITE### ###_PATH###, brugers aktuelle IP-adresse: ###_IP###
    
	<!-- ###TMAIL_MAIL### end -->

<hr />
<p><em>Mail html</em></p>
    
    <!-- ###TMAIL_MAIL_HTML### begin -->
    <h3>Henvendelse via egnsnettets kontaktformular</h3>
    <p>###NAME_VAL### (<a href="mailto:###EMAIL_VAL###">###EMAIL_VAL###</a>) har sendt f&oslash;lgende:</p><br />
    <p>Vedr: ###SUBJECT_VAL###</p>
    <p>###BESKED_VAL###</p>
    <hr />
    <p style="font-size:small">Fremsendt med TMailform extension<br />
    ###_TIME###, ###_DATE### fra ###_SITE### ###_PATH###, brugers aktuelle IP-adresse: ###_IP###</p>

	<!-- ###TMAIL_MAIL_HTML### end -->
    
<hr />
<p><em>Usercopy txt</em></p>    
    
    <!-- ###TMAIL_MAIL_USERCOPY### begin -->
    Kvittering for kontakt til egnsnettet - Tak for din henvendelse!
    Dette er en kopi af det fremsendte.
    
    Du, ###NAME_VAL### (###EMAIL_VAL###), har afsendt:
    
    ###SUBJECT_VAL###
    
    ###BESKED_VAL###
    
    Du vil blive kontaktet af os snarest muligt.
	
    mvh egnsnettet
	-----------------    
	Afsendt ###_TIME###, ###_DATE### fra ###_SITE### ###_PATH###
    <!-- ###TMAIL_MAIL_USERCOPY### end -->

<hr />
<p><em>Usercopy html</em></p>    

    <!-- ###TMAIL_MAIL_USERCOPY_HTML### begin -->
    <h3>Kvittering for kontakt til egnsnettet - Tak for din henvendelse!</h3>
    <h4>Dette er en kopi af det fremsendte</h4>
    <p>Du, ###NAME_VAL### (<a href="mailto:###EMAIL_VAL###">###EMAIL_VAL###</a>), har afsendt f&oslash;lgende: </p><br />
    <p>Emne: ###SUBJECT_VAL###</p>
    <p>###BESKED_VAL###</p><br />
    <p>Du vil h&oslash;re n&aelig;rmere fra os snarest muligt.</p><br />
	<p>mvh egnsnettet</p>
    <hr />
<p style="font-size:small">Afsendt ###_TIME###, ###_DATE### fra ###_SITE### ###_PATH###</p>
    <!-- ###TMAIL_MAIL_USERCOPY_HTML### end -->
    
<hr />
<p><em>Respons</em></p>        
    
    <!-- ###TMAIL_THANKS### begin -->
    <h3>Tak for din henvendelse!</h3>
    <p>Du vil h&oslash;re n&aelig;rmere fra os snarest muligt.</p>
	<!-- ###TMAIL_THANKS### end -->
    
<hr />
<p><em>Fejl</em></p>            
    
    <!-- ###TMAIL_ERROR### begin -->
    <h3>Beklager</h3>
    <p>Der skete tilsyneladende en intern fejl under afsendelsen. G&oslash;r venligst et nyt fors&oslash;g.</p>
  <!-- ###TMAIL_ERROR### end -->
    
  </body>
</html>
